.animation-effect {
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    margin: auto;
    display: block;
    /* transform: scale(0.5); */
}
.explosion-animation {
            
    background-image: url("/animations/Explosion_sprite_sheet_single-min.png");
    width:512px;
    height:512px;
    animation: explosion 1s steps(40) forwards;
    background-repeat: no-repeat;
}

@keyframes explosion {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -40960px;
    }
}

.debuff-animation {
    background-image: url("/animations/Breakdown_sprite_sheet_single-min.png");
    width:512px;
    height:512px;
    animation: debuff 1s steps(30) forwards;
    background-repeat: no-repeat;
}

@keyframes debuff {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -30720px;
    }
}

.buff-animation {
    background-image: url("/animations/Buff_512_40960-min.png");
    width:512px;
    height:512px;
    animation: buff 1s steps(40) forwards;
    background-repeat: no-repeat;
}

@keyframes buff {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -40960px;
    }
}

.hit-animation {
    background-image: url("/animations/Hit_512_30720-min.png");
    width:512px;
    height:512px;
    animation: hit 1s steps(30) forwards;
    background-repeat: no-repeat;
}

@keyframes hit {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -30720px;
    }
}

.big-hit-animation {
    background-image: url("/animations/Big_Hit_758_45480-min.png");
    width:758px;
    height:758px;
    animation: big-hit 1s steps(30) forwards;
    background-repeat: no-repeat;
}

@keyframes big-hit {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -45480px;
    }
}

.healing-animation {
    background-image: url("/animations/Healing_512_61440-min.png");
    width:512px;
    height:512px;
    animation: healing 1s steps(60) forwards;
    background-repeat: no-repeat;
}

@keyframes healing {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -61440px;
    }
}

.poison-animation {
    background-image: url("/animations/Poison_512_30720-min.png");
    width:512px;
    height:512px;
    animation: poison 1s steps(30) forwards;
    background-repeat: no-repeat;
}

@keyframes poison {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -30720px;
    }
}

.magic-animation {
    background-image: url("/animations/Magic_512_40960-min.png");
    width:512px;
    height:512px;
    animation: magic 1s steps(40) forwards;
    background-repeat: no-repeat;
}

@keyframes magic {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -40960px;
    }
}

.fire-animation {
    background-image: url("/animations/Fire_512_40960-min.png");
    width:512px;
    height:512px;
    animation: fire 1s steps(40) forwards;
    background-repeat: no-repeat;
}

@keyframes fire {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -40960px;
    }
}

.ice-animation {
    background-image: url("/animations/Ice_512_40960-min.png");
    width:512px;
    height:512px;
    animation: ice 1s steps(40) forwards;
    background-repeat: no-repeat;
}

@keyframes ice {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -40960px;
    }
}

.thunder-animation {
    background-image: url("/animations/Thunder_512_40960-min.png");
    width:512px;
    height:512px;
    animation: thunder 1s steps(40) forwards;
    background-repeat: no-repeat;
}

@keyframes thunder {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -40960px;
    }
}

.slash-animation {
    background-image: url("/animations/Slash_512_51200-min.png");
    width:512px;
    height:512px;
    animation: slash 1s steps(50) forwards;
    background-repeat: no-repeat;
}

@keyframes slash {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -51200px;
    }
}

.ultimate-slash-1-animation {
    background-image: url("/animations/Ultimate_Slash_1_758_60640_80-min.png");
    width:758px;
    height:758px;
    animation: ultimate-slash-1 1.3s steps(40) forwards;
    background-repeat: no-repeat;
}

@keyframes ultimate-slash-1 {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -60640px;
    }
}

.ultimate-slash-2-animation {
    background-image: url("/animations/Ultimate_Slash_2_758_60640_80-min.png");
    width:758px;
    height:758px;
    animation: ultimate-slash-2 1.3s steps(40) forwards;
    background-repeat: no-repeat;
}

@keyframes ultimate-slash-2 {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -60640px;
    }
}

.ultimate-slash-3-animation {
    background-image: url("/animations/Ultimate_Slash_3_758_50028_66-min.png");
    width:758px;
    height:758px;
    animation: ultimate-slash-3 1.1s steps(33) forwards;
    background-repeat: no-repeat;
}

@keyframes ultimate-slash-3 {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -50028px;
    }
}

.ultimate-slash-4-animation {
    background-image: url("/animations/Ultimate_Slash_4_758_512_51200_100-min.png");
    width:758px;
    height:512px;
    animation: ultimate-slash-4 1.6s steps(50) forwards;
    background-repeat: no-repeat;
}

@keyframes ultimate-slash-4 {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -51200px;
    }
}

.ultimate-slash-5-animation {
    background-image: url("/animations/Ultimate_Slash_5_758_121280_160-min.png");
    width:758px;
    height:758px;
    animation: ultimate-slash-5 2.6s steps(80) forwards;
    background-repeat: no-repeat;
}

@keyframes ultimate-slash-5 {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -121280px;
    }
}

.ultimate-explosion-1-animation {
    background-image: url("/animations/Ultimate_Explosion_1_758_45480_60-min.png");
    width:758px;
    height:758px;
    animation: ultimate-explosion-1 1s steps(30) forwards;
    background-repeat: no-repeat;
}

@keyframes ultimate-explosion-1 {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -45480px;
    }
}

.ultimate-explosion-2-animation {
    background-image: url("/animations/Ultimate_Explosion_2_758_75800_100-min.png");
    width:758px;
    height:758px;
    animation: ultimate-explosion-2 1.6s steps(50) forwards;
    background-repeat: no-repeat;
}

@keyframes ultimate-explosion-2 {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -75800px;
    }
}

.ultimate-explosion-3-animation {
    background-image: url("/animations/Ultimate_Explosion_3_758_106120_140-min.png");
    width:758px;
    height:758px;
    animation: ultimate-explosion-3 2.3s steps(70) forwards;
    background-repeat: no-repeat;
}

@keyframes ultimate-explosion-3 {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -106120px;
    }
}

.ultimate-magic-1-animation {
    background-image: url("/animations/Ultimate_Magic_1_758_60640_80-min.png");
    width:758px;
    height:758px;
    animation: ultimate-magic-1 1.3s steps(40) forwards;
    background-repeat: no-repeat;
}

@keyframes ultimate-magic-1 {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -60640px;
    }
}

.ultimate-magic-2-animation {
    background-image: url("/animations/Ultimate_Magic_2_758_98540_130-min.png");
    width:758px;
    height:758px;
    animation: ultimate-magic-2 2.16s steps(65) forwards;
    background-repeat: no-repeat;
}

@keyframes ultimate-magic-2 {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -98540px;
    }
}

.ultimate-magic-3-animation {
    background-image: url("/animations/Ultimate_Magic_3_758_512_40960_80-min.png");
    width:758px;
    height:512px;
    animation: ultimate-magic-3 1.3s steps(40) forwards;
    background-repeat: no-repeat;
}

@keyframes ultimate-magic-3 {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px -40960px;
    }
}